@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  overflow-anchor: none;
  min-width: 320px;
  font-size: 18px;
}

html.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1115px;
  margin: 0 auto;
  padding: 0 15px;
}

img,
svg {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::after,
:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button,
textarea {
  font: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

select {
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #fbf8f5;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 30px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin: 0 20px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.nav__link:hover {
  color: #e9672b;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 116px;
  height: 26px;
}

.logo-svg {
  width: 115px;
  height: 25px;
  color: #000;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.logo-svg:hover {
  color: #e9672b;
}

.cart-svg {
  width: 25px;
  height: 25px;
  color: #000;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.cart-svg:hover {
  color: #e9672b;
}

.burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 35px;
  z-index: 100;
}

.burger__menu {
  width: 28px;
  height: 21px;
  position: relative;
}

.burger__menu::before,
.burger__menu::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger__menu::before {
  top: 0;
}

.burger__menu::after {
  bottom: 0;
}

.burger__menu span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.menu--active .burger__menu::before,
.burger.menu--active .burger__menu::after {
  top: 9px;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.menu--active .burger__menu::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.menu--active .burger__menu::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.menu--active .burger__menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero-section {
  background-color: #fbf8f5;
  padding-bottom: 70px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__body {
  width: 50%;
  padding: 15px 15px 15px 0;
}

.hero__title {
  max-width: 375px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 119%;
}

.hero__text {
  width: 100%;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

.hero__image img {
  max-width: 100%;
}

.button__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 30px;
  background-color: #e9672b;
  border: 1px solid #e9672b;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.button__link:hover {
  color: #e9672b;
  background-color: #fff;
}

.hero-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.hero-title__title-text {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 112%;
  text-align: center;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -15px;
}

.blocks__item {
  width: 25%;
  padding: 15px;
}

.blocks__item:hover .blocks__item-img img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.blocks__item:hover .blocks__item-title {
  color: #e9672b;
}

.blocks__item-content {
  border-radius: 4px;
}

.blocks__item-content_grey {
  border: 2px solid #e9672b;
  -webkit-box-shadow: 8px 8px 0px #cbc6f4;
          box-shadow: 8px 8px 0px #cbc6f4;
}

.blocks__item-content_blue {
  border: 2px solid #225dca;
  -webkit-box-shadow: 8px 8px 0px #e7cb43;
          box-shadow: 8px 8px 0px #e7cb43;
}

.blocks__item-content_dark {
  border: 2px solid #242947;
  -webkit-box-shadow: 8px 8px 0px #a2d4c5;
          box-shadow: 8px 8px 0px #a2d4c5;
}

.blocks__item-content_red {
  border: 2px solid #de4333;
  -webkit-box-shadow: 8px 8px 0px #af4920;
          box-shadow: 8px 8px 0px #af4920;
}

.blocks__item-img {
  max-height: 195px;
  overflow: hidden;
}

.blocks__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.blocks__item-title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.blocks__item-title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 165%;
  color: #000;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.section-block {
  margin: 60px 0;
}

.section-content {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  margin-bottom: 20px;
}

.section-title__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 122%;
}

.section-subtitle__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
}

.section-block-content {
  width: 100%;
  max-width: 440px;
}

.section-block-content__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  margin-bottom: 25px;
}

.section-block-content__text:last-child {
  margin-bottom: 0;
}

.section-block-content__button {
  margin-top: 30px;
}

.section-block-content__button-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #ff5100;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
  position: relative;
}

.section-block-content__button-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #ff0000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.section-block-content__button-link:hover {
  color: #ff0000;
}

.section-block-content__button-link:hover:after {
  bottom: -2px;
  opacity: 1;
  visibility: visible;
}

.reverse-section-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reverse-section-block__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px 0 0;
  max-width: 440px;
  overflow: hidden;
}

.reverse-section-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reverse-section-block__text-content {
  padding: 0 0 0 15px;
  width: 50%;
}

.reverse-section-block__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 767px) {
  .section {
    padding: 120px 0;
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero__body {
    width: 50%;
    padding: 15px 15px 15px 0;
  }

  .hero__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    margin-left: 15px;
    position: relative;
  }

  .hero__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .section-block-content {
    padding: 30px 0;
  }
}

@media (max-width: 1110px) {
  .nav__item {
    margin: 0 15px;
  }
}

@media (max-width: 991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15px;
  }

  .nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 35px;
  }

  .hero__body {
    width: 100%;
    padding: 15px 0;
  }

  .hero__title {
    font-size: 48px;
    text-align: center;
    margin: 0 auto 20px;
  }

  .blocks__item {
    width: 50%;
  }

  .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .section {
    padding: 40px 0;
  }

  .section-block-content {
    max-width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .hero {
    margin-bottom: 0;
  }

  .reverse-section-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reverse-section-block__img {
    max-width: 100%;
    padding: 0;
  }

  .reverse-section-block__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .reverse-section-block__text-content {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 520px) {
  .blocks__item {
    width: 100%;
  }
}